
@import url(https://fonts.googleapis.com/css?family=Inter&display=swap);


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}



body {
    font-family: Inter, serif;
}



.nav-link {
    color: #128b12;
}

.navbar-nav .nav-link.active {
    color: a#128b12;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(224, 224, 224) !important;
}

.navbar-brand img {
    display: flex;
    width: 75px;
    height: 30px;
}

.card {
    box-shadow: 4px 5px 10px 1px #eeebeb;
}

.sidebar {
    color: black;
    background-color: rgb(224, 224, 224);
    box-shadow: 4px 5px 10px 1px #eeebeb;
}


.card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-text {
    color: blue;
}

footer {
    background-color: rgb(224, 224, 224);
    margin-top: auto; /* Позволяет футеру оставаться внизу */
    background-color: #f8f9fa; /* Цвет фона (по желанию) */
    padding: 10px 0;
}

.quest {
    display: block;
    margin-top: 200px;
}
    
.call-anim:hover {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


